@import url('https://fonts.googleapis.com/css?family=Varela+Round');
:root{
  --main-dark: #181818;
  --shadow: 0px 2px 5px 1px rgb(34, 34, 34);
}
*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
}
h1{
  font-size: 4rem;
}

img{
  width: 30rem;
}
#section0{
  background: linear-gradient(to bottom right , rgba(0, 162, 255, 0.89), rgba(59, 84, 223, 0.781));
}
#section1{
  background: linear-gradient(to bottom , rgba(14, 109, 233, 0.911), rgba(20, 46, 192, 0.911));;
}
#section2{
  background: linear-gradient(to bottom left, rgba(7, 48, 126, 0.904), rgba(18, 30, 53, 0.888));
}
#section3{
  background: linear-gradient(to bottom , rgba(5, 38, 100, 0.904), rgba(0, 7, 36, 0.932));
}

/* NAVBAR */
.navbar{
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: 1;
}
.navbar-hidden {
  display: none;
}
nav li{
  list-style: none;
  padding: 1rem 0;
}
#nav-desktop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.link-desk{
  padding: 1rem 4rem;
  /* background:rgba(0, 0, 0, 0.768); */
  text-decoration: none;
  font-size: 24px;
  color: white;
  list-style: none;
  cursor: pointer;
  transition: all 250ms ease;
}
.link-desk:hover{
  background: rgba(0, 0, 0, 0.36)
}

@media(max-width: 500px){
  #nav-desktop{
    width: 100%;
    justify-content: space-between;
  }
}
/* HEADER */
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#my-image{
  /* display: flex;*/
  /*align-items: center;
  justify-content: center; */
  overflow: hidden;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);
}
#my-name{
  display: flex;
  align-items: center;
  text-align: center;
}
#name{
  font-size: 10rem;
  font-weight: 100;
}
#surname{
  font-size: 10rem;
  font-weight: 100;
}
.particles{
  height: 100vh;
  width: 100%;
}

@media(max-width: 500px){
  .header{flex-direction: column-reverse;}
  #name{font-size: 2rem;}
  #surname{font-size: 2rem;}
  #my-image{width: 150px; height: 150px;}
  p{font-size: 1rem;}
  h1{font-size: 2rem;}
}
#arrow-down{
  position: absolute;
  left: 49%;
  bottom: 5vh;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 33px;
  height: 33px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;  
}
@-webkit-keyframes fade_move_down {
  0% {
  -webkit-transform:translate(0, -10px) rotate(45deg);
  opacity: 0;
 }
  50% {
 opacity: 1;
 }
  100% {
  -webkit-transform:translate(0, 10px) rotate(45deg);
  opacity: 0;
 }
 }
 @-moz-keyframes fade_move_down {
  0% {
  -moz-transform:translate(0, -10px) rotate(45deg);
  opacity: 0;
 }
  50% {
 opacity: 1;
 }
  100% {
  -moz-transform:translate(0, 10px) rotate(45deg);
  opacity: 0;
 }
 }
 @keyframes fade_move_down {
  0% {
  transform:translate(0, -10px) rotate(45deg);
  opacity: 0;
 }
  50% {
 opacity: 1;
 }
  100% {
  transform:translate(0, 10px) rotate(45deg);
  opacity: 0;
 }
 }






/* ABOUT */
#about{
  position: absolute;
  top: 6rem;
  left: 5%;
  align-items: center;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: var(--main-dark);
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);
}
#about-inner{

  width: 100%;
  height: 100%;
}
#about-wrapper{
  display: table;
  width: 100%;
  height: 100%;  
}
#about-content{
  display: table-cell;
  padding: 1rem;
  vertical-align: middle;
  margin: 2rem;
}
#about-content p{
  font-size: 1.6rem;
  padding: 1rem;
}
#about-content h1{
  margin-bottom: 2rem;
}
.lang{
  opacity: 1;
}
.lang-1{
  width: 20%;
}
.lang-2{
  width: 100px;
}
#react{
  position: absolute;
  right: 25%;
  top: 20%;
}
#csharp{
  position: absolute;
  right: 14%;
  top: 54%;
}
#htmll{
  position: absolute;
  right: 6%;
  top: 48%;
}
#csss{
  position: absolute;
  right: 36%;
  top: 70%;
}
#jscript{
  position: absolute;
  right: 20%;
  top: 27%;
}
#reduxx{
  position: absolute;
  right: 23%;
  top: 55%;
}
#aspnett{
  position: absolute;
  right: 8%;
  top: 62%;
}
#sasss{
  position: absolute;
  top: 49%;
  right: 31%;
}
#nodejs{
  position: absolute;
  top: 44%;
  right: 19%;
}
#express{
  position: absolute;
  top: 39%;
  right: 8%;
}
#mongoo{
  position: absolute;
  top: 78%;
  right: 28%;
}
#gatsbyy{
  position: absolute;
  right: 40%;
  top: 50%;
}
#angular {
  position: absolute;
  right: 32%;
  top: 61%;
}
#lang-mobile{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 1rem
}
.icon-mobile{
  width: 100%;
}


@media(max-width: 500px){
  #about{
    position: static;
    margin: 0;
    width: calc(100% - 25px);
    left: 0;
    border-radius: 50%;
    height: calc(40% + 40px);
    margin: 0 10px;
  }
  #about-content p{
    font-size: 0.8rem;
  }
  .lang{
    display: none;
  }
}
@media(min-width: 500px){
  #lang-mobile{
    display: none;
  }
}



/* PROJECT */
#project-h{
  position: absolute;
  top: 0;
  left: 44%;
  background: #000;
  color: #fff;
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--main-dark);
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);  
}
#warning{
  position: fixed;
  display: flex;
  top: 15rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.644);
  color: #fff;
  padding: 4rem;
}
#warning-icon{
  color: rgb(3, 141, 255);
  font-size: 5rem;
}
#warning p{
  font-size: 2rem;
  z-index: 100;
}
#war-button{
  text-decoration: none;
  color: #0096FF;
  font-size: 2rem;
  margin-top: 1rem;
  border: 2px solid #0096FF;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  transition: all 250ms ease;
}
#war-button:hover{
  background: #0096FF;
  color: black; 
}
#project{
  width: 100%;
}
#project1{
  position: fixed;
  top: 15%;
  left: 15%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background: url(../images/project1.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);  
  transition: all 250ms ease;
}
#project1:hover {
  width: 500px;
  height: 500px;
}
#project3 {
  position: fixed;
  top: 15%;
  right: 15%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  z-index: -99;
  background: url(../images/angproj.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);  
  transition: all 250ms ease;
}
#project3:hover {
  width: 500px;
  height: 500px;
}
#project2{
  position: fixed;
  top: 45%;
  right: 45%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  z-index: -100;
  background: url(../images/port2.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);  
  transition: all 250ms ease;
}
#project2:hover {
  transform: scale(2.0);
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #181818b9;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 200ms ease-in;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.info a{
  color: #0096FF;
}
.info:hover{
  opacity: 1;
}
.info2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #181818b9;
  width: 100%;
  height: 100%;
  /* font-size: 2px; */
  opacity: 0;
  transition: all 200ms ease-in;
  color: rgb(255, 255, 255);
}
.info2 a{
  color: #0096FF;
}
.info2:hover{
  opacity: 1;
  font-size: 8px;
}
.info2 > i:hover {
  font-size: 8px;
}


@media(max-width: 500px){
  #project-h{
    height: 100px;
    width: 100px; 
  }
  #warning{
    padding: 0rem;
    left: 0;
    top: 10rem;
  }
  #warning p{
    font-size: 1rem;
  }
  #war-button{
    font-size: 1rem;
  }
  #project{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #project1{
    position: static;
    height: 300px;
    width: 300px;    
  }
  #project3{
    position: static;
    margin-top: 5px;
    height: 300px;
    width: 300px;    
    z-index: 100;
  }
  #project2{
    position: static;
    margin-top: 5px;
    height: 300px;
    width: 300px;   
    z-index: 100; 
  }
  .info{
    opacity: 1;
  }
  .info2{
    opacity: 1;
  }
}


/* CONTACT */
#contact-h{
  position: absolute;
  top: 0;
  left: 44%;
  background: #000;
  color: #fff;
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--main-dark);
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);  
}
#form-center{
  padding: 2rem;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: var(--main-dark);
  position: absolute;
  left: 5%;
  top: 10%;
  border: 3px solid #0096FF;
  box-shadow: 0px 2px 2px black; 
  overflow: hidden; 
}
#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
 #form-input{
  border: none;
  width: 90%;
  background: rgb(14, 14, 14);
  color: white;
  margin-bottom: 5px;
  font-size: 1rem;
  padding: 1rem;
 }

#contact-form input:focus{
  color: rgb(0, 140, 255);
}

#contact-form button{
  width: 95%;
  background: rgb(0, 102, 255);
  font-size: 1.5rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 250ms ease;
}
#contact-form button:hover{
  background: rgb(8, 35, 109);
  cursor: pointer;
}
.social{
  position: absolute;
  color: #fff;
  display: flex;
  width: 220px;
  height: 220px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 7rem;
  background: var(--main-dark);
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);
  transition: all 250ms ease;
}
.social:hover{
  cursor: pointer;
  color: #0096FF;
}
#twitter{
  right: 25%;
  top: 30%;
}
#facebook{
  right: 10%;
  top: 16%;
}
#instagram{
  right: 10%;
  top: 50%;
}

@media(max-width: 500px){

  #contact-h{
    height: 100px;
    width: 100px;
  }
  #form-center{
    position: absolute;
    left: -10%;
    height: 350px;
    width: 120%;
    padding: 0rem;    
  }
  #contact-form button{
    width: 50%;
  }

  #form-input{
    width: 70%;
    padding: 0.2rem;
  }
  /* .social-group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 111;
  } */
  .social{
    height: 80px;
    width: 80px;
    font-size: 4rem;
  }
  #twitter{
    left: 220px;
    top: 380px;
  }
  #facebook{
    left: 20px;
    top: 380px;
  }
  #instagram{
    left: 120px;
    top: 420px;
  }
}
@media(max-width: 321px){
  #contact-form{
    left: -15px;
  }
}

/* THANKS */
#thanks{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 149, 255, 0.637)
}
#thanks-content{
  width: 620px;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: var(--main-dark);
  border: 2px solid rgb(3, 141, 255);
  box-shadow: var(--shadow);
  border-radius: 50%;
  color: #fff;
}
#thanks-content a {
  text-decoration: none;
  color: #0096FF;
  font-size: 2rem;
  margin-top: 1rem;
  border: 2px solid #0096FF;
  padding: 1rem;
  border-radius: 10px;
  transition: all 250ms ease;
}
#thanks-content a:hover{
  background: #0096FF;
  color: black; 
}

@media(max-width: 500px){
  #thanks-content{
    width: 100%;
    height: 300px;
  }
  #thanks-content a {
    font-size: 1rem;
  }
}


/* NOT FOUND page */
#not-found-wrapper{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(7, 59, 97, 0.473)
}
#not-found{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #181818;
  border: 2px solid #0096FF;
  padding: 2rem;
  border-radius: 50%;
  width: 40rem;
  height: 40rem;
  color: #0096FF;
  box-shadow: var(--shadow);
}

@media(max-width: 500px){
  #not-found{
    width: 15rem;
    height: 15rem;
  }
}